{% extends "base.html" %}

{% block content %}
<head>
<meta charset="utf-8">

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_style.min.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script> $(function() { $('textarea').froalaEditor() }); </script>
    <CENTER><h2 style="font-weight: bold; font-size: 36px">Edit Your Post Here!!</h2></CENTER>
<br>
    <form method="post">

        <input type="hidden" name="post_id">

        <label>
            <div style="font-weight: bold; font-size: 30px; text-align: left;">Subject :</div>
            <input type="text" name="subject" id="search1" value="{{subject}}">
        </label>
<br><br>
        <label>
            <div style="font-weight: bold; font-size: 30px; text-align: left;">Content :</div>
            <textarea name="content">{{content}}</textarea>
        </label>
<br><br>
        <div class="error">{{error}}</div>
        <br>

        <input type="submit" class="btn btn-primary btn-md">
        <a href="/blog" style="float: right;"><button class="btn btn-danger">Cancel</button></a>
    </form>
    <br>
{% endblock %}
