{% extends "base.html" %}

{% block content %}
<script>
function hgihtwords(keyword){
  $('.box').each(function(index, elem){
    let oldHtml = $(elem).html()
    //console.log(oldHtml.match(new RegExp('(<[a-z1-9]+>.*?)('+keyword+')(.*?<\/[a-z1-9]+>)', 'ig')))
    let newHtml = oldHtml.replace(new RegExp('(<[a-z1-9]+>.*?)('+keyword+')(.*?<\/[a-z1-9]+>)', 'ig'), '$1<span class="mark">$2</span>$3')
    if(oldHtml == newHtml){
      $(elem).hide(1000)
    }
    else{
      $(elem).show().html( newHtml)
    }

  })
}

function resetHighlight(){
  $('.box').each(function(index, elem){
    let oldHtml = $(elem).html()
    let newHtml = oldHtml.replace(new RegExp('(<span class="mark">)+(.*?)(</span>)+', 'ig'), '$2')
    $(elem).show(1000).html( newHtml)
  });
}

function showAll(){
  $('.box').show(1000)
}</script>
<style>
.mark {
  background-color: orange;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}
.mark {
     padding:1px 4px;
     margin:0 -4px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/mark.js/7.0.0/jquery.mark.min.js"></script>
<center>
    <input type="text" placeholder="Search.." id="search" value="">
    <br>
    <button onclick="hgihtwords($('#search').val())">Search</button>
<button onclick="resetHighlight()">Reset</button>
<button onclick="showAll()">Show All</button>

    </center><br>
  {% for post in posts %}
  {% if post.username == user.name %}
  <div class="box">
    <div class="show_hide">
      {{ post.render() | safe }}
    </div>

    <br>
    <hr>

    <div class = "container">


         <hr>
         <!-- comment container -->
         <div class = "comment">
              <form action = "/blog/postcomment/{{post.key().id()}}">
                    <input type = "submit" style="font-size: 12px" class="btn btn-outline-primary" value = "comment" title = "post comment">
              </form>
         </div>

         <hr>
          <!-- edit and delete posts container -->
         <div class="edit_delete">
            <table>
              <tr>
              <form action="/blog/editpost/{{post.key().id()}}">
              <td><input type="submit" style="font-size: 12px" class="btn btn-outline-secondary" value="edit" title="edit post"></td>
              </form>

              <form action="/blog/deletepost/{{post.key().id()}}">
              <td><input type="submit" style="font-size: 12px" class="btn btn-outline-warning" value="delete" title="delete post"></td>
              </form></tr>
            </table>
         </div>

    </div>
    {% endif %}
        </div>
    <br>
  {% endfor %}

{% endblock %}
